body {
    height: 5000px;
}

/* START NAVBAR */
.navbar {
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #1A1A1A 21.1%, rgba(26, 26, 26, 0.00) 100%);
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    /* z-index: 999; */
}

.navbar .container {
    position: relative;
    z-index: 999;
}

.navbar .navbar-brand {
    margin-right: 99px;
}

.navbar-toggler {
    border-width: 2px !important;
    border-color: #124998;
    box-shadow: none !important;
}

.navbar-toggler::focus {
    outline-color: #124998 !important;
}

.navbar.active {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1A1A1A !important;
    z-index: 999;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 45px;
}

.navbar ul li a {
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.navbar ul li a:hover {
    color: #fff;
}

.navbar .change-lang {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.navbar .change-lang span {
    font-weight: bold;
    color: #fff;
}

.btn-navbar {
    padding: 20px 36px;
    background: #124998;
    color: #FFF;
    font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-right: 30px;
    border: none;
}

.btn-navbar:hover {
    background: #144898;
    box-shadow: 5px 15px 40px 0px rgba(55, 143, 205, 0.56);
}

/* END NAVBAR */

/* START HERO SECTION */
.hero {
    background: url(../images/hero-bg.png) no-repeat center center/cover;
    height: 1072px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero .container {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.hero::before {
    content: "";
    background: rgba(78, 78, 78, 0.62);
    position: absolute;
    inset: 0;
}

.hero .social-media {
    position: relative;
    margin-right: 80px;
    height: 100%;
}

.hero .social-media::before {
    content: "";
    background-color: #fff;
    height: 220px;
    width: 1px;
    position: absolute;
    left: 15px;
    top: -260px;
}

.hero .social-media::after {
    content: "";
    background-color: #fff;
    height: 220px;
    width: 1px;
    position: absolute;
    left: 15px;
    bottom: -250px;
}

.hero .social-media div {
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero .social-media div img {
    width: 16px;
}

.hero .content-hero {
    width: 68%;
}

.hero .content-hero h1 {
    color: #44B2FF;
    font-family: Kanit;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 14px;
}

.hero .content-hero h1 span {
    color: #fff;
}

.hero .content-hero p {
    color: #FFF;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 50px;
}

.hero .content-hero button {
    padding: 20px 36px;
    background: #124998;
    box-shadow: 0px 10px 60px 0px rgba(26, 26, 26, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    border: none;
}

.hero .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.hero .boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 215.336px;
    height: 220.712px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-left: auto;
}

.hero .boxes .box span {
    font-family: Kanit;
    font-weight: 300;
}

.hero .boxes .box span.title {
    color: #144898;
    font-size: 20px;
    text-align: center;
}

.hero .boxes .box span.change-color {
    color: #378FCD;
}

.hero .boxes .box span.number {
    color: #144898;
    font-size: 54px;
}

.hero .boxes .box span.desc {
    color: #378FCD;
    text-align: center;
}

/* END HERO SECTION */

/* START MEDIA 991px */
@media (max-width:991px) {
    .navbar-collapse {
        background-color: #000;
    }

    .navbar ul {
        padding: 30px 0;
        gap: 30px;
    }

    .hero .content-hero {
        width: 100%;
    }

    .hero .social-media {
        margin-right: 40px;
    }

    .hero .social-media::before {
        display: none;
    }

    .hero .social-media::after {
        display: none;
    }

    .hero .content-hero {
        width: 100%;
    }

    .hero .boxes {
        margin-top: 100px;
        flex-direction: row;
    }
}

/* START MEDIA 768px */
@media (max-width:768px) {
    .hero .boxes .box {
        width: 100%;
        height: 220.712px;
    }

    .hero .boxes .box span.title {
        font-size: 14px;
    }

    .hero .boxes .box span.number {
        font-size: 34px;
    }

    .hero .boxes .box span.desc {
        font-size: 14px;
    }
}


/* START MEDIA 576px */
@media (max-width:576px) {
    .hero .social-media::before {
        content: "";
        background-color: #fff;
        height: 190px;
        width: 1px;
        position: absolute;
        left: 15px;
        top: -230px;
    }

    .hero .social-media::after {
        content: "";
        background-color: #fff;
        height: 190px;
        width: 1px;
        position: absolute;
        left: 15px;
        bottom: -230px;
    }

    .hero .content-hero h1 {
        font-size: 35px;
    }
}